/* from left */
.animated-element {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1s ease-in, transform 1s ease-in;
}

/* from right */
.animated-element-2 {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 1s ease-in, transform 1s ease-in;
}

.in-view {
  opacity: 1;
  transform: translateX(0px);
}
